.aboutContainer {
    margin-top: 140px;
    margin-bottom: 50px;
}

.container {
    margin: 30px;
    padding: 8px;
    height: 500px;
    border-radius: 10px;
    background-color: cadetblue;
    box-shadow: 0 9px 12px 10px rgba(176,171,171,0.50);
}

.row {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.firstContainer {
    background-color: #aee784;
    width: 60%;
}

.firstContainer video {
    width: 500px;
}

.secondContainer {
    width: 40%;
}

.thirdContainer {
    width: 30%;
}

.fourthContainer {
    width: 40%;
}

.fifthContainer {
    width: 30%;
}