.aboutContainer {
    margin-top: 140px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    margin: 30px;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 9px 12px 10px rgba(176,171,171,0.2);
}

.row {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;

    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.firstContainer {
    background-image: url(../assets/LowPolyProfile.png), linear-gradient(white, rgba(249,249,249, 1));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    width: 60%;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.title .leftTitle {
    margin-left: 20px;
    margin-right: auto;
}

.title .rightTitle {
    margin-left: auto;
    margin-right: 20px;
}

.firstContainer video {
    margin-left: auto;
    width: 40%;
    height: 58%;
}

.secondContainer {
    background-image: url(../assets/DayBg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    width: 40%;
}

.thirdContainer {
    background-image: url(../assets/NightBg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    width: 40%;
}

.thirdContainer .whiteFont {
    color: white;
}

.fourthContainer {
    width: 60%;
}

.fourthContainer .projectImage {
    width: 100%;
    margin-top: auto;
    margin-bottom: -30px;
    align-self: center;
}

.fadeIn {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

/* Animation from https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
@keyframes fadein {     
    from {
        margin-top: 100%;
        /* height: 300%;  */
    }
      
    to {
        margin-top: 30px;
        /* height: 100%; */
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        margin-top: 100%;
        /* height: 300%;  */
    }
      
    to {
        margin-top: 30px;
        /* height: 100%; */
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        margin-top: 100%;
        /* height: 300%;  */
    }
      
    to {
        margin-top: 30px;
        /* height: 100%; */
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        margin-top: 100%;
        /* height: 300%;  */
    }
      
    to {
        margin-top: 30px;
        /* height: 100%; */
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        margin-top: 100%;
        /* height: 300%;  */
    }
      
    to {
        margin-top: 30px;
        /* height: 100%; */
    }
}

@media only screen and (max-width: 1330px) {
    .container {
      width: 80%;
      height: 500px;
      max-width: 800px;
    }

    .row {
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1026px) {
    .container {
      width: 80%;
      height: 450px;
      max-width: 800px;
    }

    .row {
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .statusBar {
        display: none;
    }
    
    .container {
      width: 80%;
      height: 400px;
      max-width: 800px;
    }

    .row {
        align-items: center;
        flex-direction: column;
    }

    .title .leftTitle {
        margin-left: 0px;
    }
    
    .title .rightTitle {
        margin-right: 0px;
    }
}
  