.filterContainer {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    height: 30px;
}

.filterContainer h3 {
    color: black;
    padding-left: 50px;
    padding-right: 20px;
    margin: 0;
    margin-top: 5px;
}

.filterSelectionContainer {
    display: flex;
    border-radius: 7px;
    padding: 3px;
    background: #eeebf0;
    overflow: hidden;
}
  
.filterDiv {
    display: flex;
    float: left;
    width: 100%;
    height: 800px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

.projectHeader {
    display: flex;
    flex-direction: row;
    height: 200px;
    background: white;

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.projectColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;

    width: 100%;
    height: 170px;
}

.projectSubRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectViewButton {
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;

    border: none;
    color: white;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    background: #0a84ff;
}

.projectColumn h2 {
    color: black;
    text-align: left;
    margin: 0;
}

.projectColumn h3 {
    text-align: left;
    color: rgba(0, 0, 0, 0.5);

    font-weight: 400;
}

.projectIcon {
    width: 170px;
    height: 170px;

    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.divider {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.statContainer {
    display: flex;
    flex-direction: row;
}
  
.statObject {
    padding-top: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.statObject h2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.trophy {
    color: rgba(0, 0, 0, 0.1);
    font-size: 28px;
}

.statObject h4 {
    color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    background-color: #eeebf0;
    cursor: pointer;

    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;

    width: 200px;
}
  
/* Add a dark background to the active button */
.btn.active {
    background-color: white;
    border-radius: 7px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.projectBody {
    padding-left: 100px;
    padding-right: 100px;
}

.projectBody h3 {
    color: #333;
    line-height: 1.47059;
    font-size: 17.5px;
    font-weight: normal;
    letter-spacing: 0;
    font-style: normal;

    text-align: left;
}