body {
	padding: 40px 0;
	margin: 0;
	color: #333;
	font-size: 20px;
	line-height: 1.7em;
	font-family: 'PT Sans Caption', sans-serif;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #999;
}

a:hover,
a:focus {
	color: #369fe4;
	border-bottom: none;
}

img {
	display: block;
	margin: 0 auto;
	padding: 30px 0;
}

a < img {
	border-bottom: none;
}

ul {

}

li {
	padding: 0;
	margin: 0 0 1em 0;
}

sup {
	padding: 0 0 0 3px;
	font-size: 0.7em;
	line-height: 1em;
}

sup a {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

footer {
	margin-top: 80px;
	border-top: 1px solid #bbb;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	line-height: normal;
	color: #666;
}

.reversefootnote {
	border-bottom: 0;
	padding-left: 5px;
}

#wrapper {
	padding: 0 80px;
	margin: 0 auto;	
	width: 940px;
}

header {
	text-align: center;
}

header h1,
header h2 {
	color: #000;
}

header h1 a {
	color: #000;
	border-bottom: none;	
}

header h2 {
	font-size: 0.8em;
	font-weight: normal;
}

nav {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 50px;
}

nav ul {
	margin: 0 auto;
	padding: 0 25px;
	line-height: 1.5em;
	height: 50px;
	z-index: 20;
	position: relative;
	white-space: nowrap;
}

nav ul li {
	display: inline-block;
	padding: 0 20px;
	margin: 0;
	list-style: none;
	background: #fff;
	line-height: 50px;
	font-size: 0.8em;
	letter-spacing: 2px;
	font-weight: bold;
}

nav ul li a {
	border-bottom: none;
	text-transform: uppercase;
}

.divider {
	margin: -25px 0 25px 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
	z-index: 10;
	position: relative;
}



article {
	padding: 70px 0 0 0;
}

article:first-child {
	padding-top: 40px;
	border-top: none;
}

#contact article {
	margin-top: 70px;
	padding-top: 40px;
	border-top: 1px solid black;
}

#contact article:first-child {
	border-top: none;
	margin-top: 0;
}

article header h1 {
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
	background: none;
}

article header time {
	margin-bottom: 2em;
	display: block;
}

article header time a {
	color: #000;
}

article div {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}

article div.footnotes {
	margin-top: 40px;
	border-bottom: none;
	padding: 50px 0 0 0;
	font-size: 0.75em;
	border-top: 1px solid black;
}

article h2 {
	font-size: 1.5em;
	margin: 1.5em 0 .75em 0;
	padding: 0;
}

blockquote {
	margin: 1em 2em;
}

#pagination {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}

#pagination a {
	border-bottom: none;
}

.pagination-previous {
	float: left;
}

.pagination-next {
	float: right;
}

#archive {
	padding-top: 30px;
}

#archive ul {
	list-style: none;
	margin: 0;
	padding: 0 0 1em 0;
}


#archive h2 {
	font-size: 1.4em;
}

#archive h3 {
	font-size: 1em;
}


#archive time {
	padding-left: 20px;
	font-size: 0.8em;
	font-weight: normal;
}


#home p {
	text-align: justify;
}

#about-image {
	width: 240px;
	height: 376px;
	border: 1px solid #999;
	padding: 3px;
	float: right;
	margin: 0 0 0 40px;
}

#apps article header
{
	border-bottom: 1px solid #999;
}

#apps article header h3 {
	padding: 8px 0 0 74px;
	margin: 0;
	text-align: left;
	font-family: tahoma, sans-serif;
}

#apps article header p {
	padding: 0 0 5px 74px;
	margin: -4px 0 0 0;
	font-size: 0.9em;
	color: #666;
	text-align: left;
}

#apps img {
	margin: 0;
}


#app-wallabee {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/wallabee-57.png') left center no-repeat;
}


#app-highlights {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/highlights-57.png') left center no-repeat;
}

#app-security {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/security-57.png') left center no-repeat;
}

#app-wallabeetravel {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/wallabee-travel-57.png') left center no-repeat;
}

#app-metaldetector {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/metal-detector-57.png') left center no-repeat;
}

#app-expensemagic {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/expensemagic-57.png') left center no-repeat;
}

#app-horsetracker {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/horsetracker-57.png') left center no-repeat;
}

#app-mpd {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/mpd-57.png') left center no-repeat;
}

#app-nectar {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/nectar-57.png') left center no-repeat;
}

#app-vichy {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/vichy-57.png') left center no-repeat;
}

#app-socialbeacon {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/social-beacon-57.png') left center no-repeat;
}

#app-textometer {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/textometer-57.png') left center no-repeat;
}
#app-msq {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/msq-57.png') left center no-repeat;
}
#app-meatmap {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/meatmap-57.png') left center no-repeat;
}

#app-craftsman {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/craftsman-57.png') left center no-repeat;
}

#app-kontent {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/kontent-57.png') left center no-repeat;
}
#app-islandbreak {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/islandbreak-57.png') left center no-repeat;
}
#app-blindbags {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/blindbags-57.png') left center no-repeat;
}
#app-loly {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/loly-57.png') left center no-repeat;
}
#app-gbbc {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/gbbc-57.png') left center no-repeat;
}
#app-glenfiddich {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/glenfiddich-57.png') left center no-repeat;
}
#app-brapp {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/brapp-57.png') left center no-repeat;
}
#app-oxford {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/oxford-57.png') left center no-repeat;
}
#app-chippd {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/chippd-57.png') left center no-repeat;
}
#app-nc {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/nc-60.png') left center no-repeat;
}
#app-pocketrocket {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/pocketrocket-57.png') left center no-repeat;
}
#app-calmradio {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/calmradio-60.png') left center no-repeat;
}
#app-munchkinreport {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/munchkinreport-60.png') left center no-repeat;
}
#app-musictracker {
	background: url('https://bendodson.s3.amazonaws.com/apps/icons/musictracker-60.png') left center no-repeat;
}

#code article header
{
	border-bottom: 1px solid #999;
}

#code article header h3 {
	padding: 0;
	margin: 0;
	font-family: tahoma, sans-serif;
}

#code article header p {
	padding: 0 0 5px 0;
	margin: 0;
	font-size: 0.9em;
	color: #666;
}

#contact article span.details {
	margin-top: 1em;
	margin-bottom: 1.5em;
	line-height: 4em;
	display: block;
	border-bottom: none;
}

#contact article span.details a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 3em;
	display: block;
	border-bottom: none;
}

#itunes-artwork-finder div {
	border-bottom: none;
}

hr {
	display: none;
}

#musictracker {
	padding: 20px 40px 20px 100px;
	background: #e0e0e0 url('https://bendodson.s3.amazonaws.com/apps/icons/musictracker-60.png') 20px center no-repeat;
	border-radius: 2em;
	width: 660px;
}

#musictracker p {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	line-height: 1.5em;
}